<div id="nav">
  <ul class="group">
    <li>
      <a href="http://projectzenmassage.com/wordpress">San Francisco</a>
    </li>
    <li>
      <a href="http://projectzenmassage.com/Burlingame">Burlingame</a>
    </li>
    <li>
      <a href="http://projectzenmassage.com/Bangkok">Bangkok</a>
    </li>
    <li>
      <a class="full" href="http://projectzenmassage.com/Mobile">In-Home Massage (New)!</a>
      <a class="narrow" href="http://projectzenmassage.com/Mobile">In-Home</a>
    </li>
  </ul>
</div>
