@import "mixins";
#header {
    background-color: #553000;
    background-image: url("../images/project-zen-logo.png");
    background-repeat: no-repeat;
    margin: $font-size 0 0 0;
    height: 100px;
    width: 100%;
    @include rounded-corners($spacing);
    background-position: center center;
}