@import "mixins";

a, p, div, span, h1, h2, h3, h4 {
    font-size: 10pt;
    font-family: $font-family;
}

h1 {
    font-size: 1.10em;
}

h2 {
    font-size: 1.05em;
}

html {
    height: 100%;
}
body {
    background-color: #D4DFCC;
    height: 100%;
}

img {
    max-width: 100%;
}

.container {
    background-image: url('../images/bodybg.jpg');
    background-repeat: no-repeat;
    border-left: $spacing solid #f2f5f0;
    border-right: $spacing solid #f2f5f0;
    padding: 0 0 $spacing 0;
    min-height: 650px;
    height: 100%;
}

.main {
    background-color: #fff;
    @include rounded-bottom($spacing);
}

.group:after {
  content: "";
  display: table;
  clear: both;
}