@mixin rounded-top($radius) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin rounded-bottom($radius) {
    -webkit-border-bottom-left-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-radius-bottomleft: $radius;
    -moz-border-radius-bottomright: $radius;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin rounded-corners($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin subtle-shadow($distance) {
    -webkit-box-shadow: 0px $distance 5px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px $distance 5px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px $distance 5px 0px rgba(50, 50, 50, 0.2);
}