@import '_mixins';

#nav {
    background-color: #8CB1A6;
    margin: $spacing 0 0 0;
    padding: 0 0 0 $spacing;
    @include rounded-top($spacing);

    li {
        float: left;
        line-height: $font-size * 2;
    }
    
    li:hover {
        background-color: #f2f5f0;   
        line-height: $font-size * 2;
        @include rounded-top(5px);
   }

    li:hover > a {
        color: #8cb1a6;
        text-shadow: none;
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: #fefefe;
        font-size: $font-size * 1.25;
        padding: $spacing * 2;
        text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    }
}