@import "mixins";
.sidenav {
    background-color: #f2f5f0;
    margin: $spacing $spacing * .5 $spacing $spacing * .5;
    h2 {
        background: #d4dfcc url("../images/sidebar_headbg.png") repeat-x 0 0;
        padding: $spacing * .25;
        line-height: $font-size * 2;
        color: #615559;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #fff;
        @include rounded-top(5px);
    }

    .promo {
        padding: $spacing;
        background-color: #f2f5f0;
    }
}