@import 'variables';
@import 'mixins';
@import 'main';
@import 'header';
@import 'nav';
@import 'slideshow';
@import 'sidenav';

a.full{
    display: inline;
}
h2.full {
    display: block;
}
a.narrow, h2.narrow {
    display: none;
}