@import 'variables';
@import 'variables-narrow';
@import 'main';
@import 'header';
@import 'nav';
@import 'slideshow';
@import 'sidenav';

.container {
    border-left-width: $spacing;
    border-right-width: $spacing;
}

.full {
    display: none;
}

#header {
    height: 70px;
    margin: 0;
}

a.narrow {
    display: inline;
}
h2.narrow {
    display: block;
}