@import 'variables';
@import 'variables-mobile';
@import 'mixins';
@import 'main';
@import 'header';
@import 'nav';
@import 'slideshow';
@import 'sidenav';

.full {
    display: none;
}

#header {
    height: 70px;
    margin: 0;
}

a.narrow {
    display: inline;
}
h2.narrow {
    display: block;
}